body{
    background-color: #B4846C;
  }
  
h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
}

h3 {
    font-family: 'Dongle', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

h4 {
    font-family: 'Dongle', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}