body{
  background-color: #B4846C;
}

  h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
  }

  h3 {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #2D2424;
  }

  h4 {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #2D2424;
    
  }